@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: 
    url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position:  left top,right bottom;
    font-family: 'League Spartan', 'Open Sans', sans-serif;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.main-grid{
    display: grid;
    grid-template-rows: repeat(2, 300px);
    place-items: center;
}

.grid-container-top{
    display: grid;
    grid-template-columns: 300px 400px;
    column-gap: 140px;
    margin-top: 2rem;
}

.content h1{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-bottom: 1rem;
}

.content p{
    color: hsl(303, 10%, 53%);
    margin-bottom: 1rem;
}

.rating{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: left;
    align-items: center;
    position: relative;
}

.rating-2{
    left: 2rem;
}

.rating-3{
    left: 4rem;
}

.rating p{
    margin-left: 10px;
    color: hsl(300, 43%, 22%);
    font-size: 0.8rem;
    font-weight: 700;
}

.box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.box>div{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 2rem 1rem;
}

.image{
    border-radius: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.buyer-name, .buyer-comment{
    color: hsl(300, 24%, 96%);
    padding: 5px;
}

.buyer-status{
    color: hsl(333, 80%, 67%);
    
}
.buyer-comment{
    text-align: justify;
    padding-top: 20px;
}

.grid-item2{
    top: 2rem;
}

.grid-item3{
    top: 4rem;
}